#footer {
    height: 90px;
    background-image: linear-gradient(45deg, rgb(70, 70, 80), rgb(49, 32, 32));
    bottom: 0;
    color: silver;
}

#foot_nav {
    align-items: center;
    justify-content: space-around;
    height: 45px;
   
    display: flex;
}

#company {
    align-items: center;
    text-align: center;
    height: 45px;
}

#lists ul {
    display:flex;
}

#lists li {
    list-style: none;
    margin-left: 10px;
}

#lists a {
    color: silver;
    text-decoration: none;
}


#lists a:hover{
    color: silver;
    opacity: 50%;
}

#social {
    display: flex;
}

#social img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

#social a img:hover {
    opacity: 50%;
} 

#todo {
    width: 100%;
    height: 500px;
    border: none;
}

#Test {
    top: 15em;
    left: 25%;
}


#show {
  top: 100%;
  opacity: 40%
}

#show:hover {
  opacity: 100%;
}

.buttons, #Test, #show {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons:before, #Test:before, #show:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.buttons:after, #Test:after, #show:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.buttons:hover{
    font-size: 110%;
    opacity: 50%;
}

#butt button {
    margin-left: 5px;
}

#info img {
    position: relative;
    left: 29%;
    top: 10px;
    width: 100px;
    height: 120px;
}

#subtext {
    font-size: 20px;
    position: relative;
    top: 50px;
    right: 35%;
}

.icon_div {
  display: flex;
}

.txt {
  width: 30%;
  height: 100%;
}

.icon_div:first-child {
  margin-left: 17em;
}
